############################
# DEPENDENCIAS (TODOS)
############################
node_modules/
.pnp/
.pnp.js

############################
# BUILD / DIST
############################
dist/
build/
out/
.tmp/
.temp/

############################
# ANGULAR
############################
.angular/
.cache/
coverage/
*.ngfactory.ts
*.ngstyle.ts
*pnpm-lock.yaml
############################
# NESTJS
############################
dist/
*.tsbuildinfo

############################
# PRISMA
############################
prisma/dev.db
prisma/dev.db-journal
prisma/*.db
prisma/*.db-journal
prisma/migrations/

############################
# ENTORNOS
############################
.env
.env.*
!.env.example

############################
# PACKAGE MANAGERS
############################
package-lock.json
pnpm-lock.yaml
yarn.lock
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

############################
# IDEs y EDITORES
############################
.vscode/
!.vscode/extensions.json
.idea/
*.swp
*.swo

############################
# SISTEMA OPERATIVO
############################
.DS_Store
Thumbs.db
desktop.ini

############################
# LOGS
############################
logs/
*.log

############################
# TESTING
############################
coverage/
.nyc_output/

############################
# OTROS
############################
*.tsbuildinfo
*.local
*.session
